* {
    box-sizing: border-box;
}
header{
    height: 90px;
    background-color: black;
    padding: 30px 25px;
}
nav {
    display: flex;
    align-items: center;
    height: 100%;
}

img {
    width: 40px;
    margin-right: 7px;
}

span{
    color:aqua;
    font-size: 1.4rem;
    font-weight: 700;
}