.Playlist {
  background-color: rgba(202, 36, 235, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  max-height: 950px;
  padding: 2.27rem 1.16rem;
}
.PlaylistInput {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.PlaylistSave {
  cursor: pointer;
  width: 10rem;
  padding: .77rem 0;
  border-radius: 54px;
  border-width: 0px;
  margin-top: 1.27rem;
  background-color: #012c3f;
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;
  color: #fff;
  font-weight: 500;
}

.Playlist-save:hover {
  background-color: #0d8b97;
}
.buttonSpotify {
margin-top: 20px;
  padding: 14px 40px;
  font-size: 18px; 
  background-color: purple;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center; 
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}