.trackContainer {

    background-color: rgba(169, 26, 235, 0.2);
    flex: 1;
    text-align: center;
    color: white;
    margin: 0 2rem;
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .trackInfo {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    flex: 4 4;
    border-top-left-radius: .79rem;
    border-bottom-left-radius: .79rem;
  }

  .trackInfo_lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
  .trackName {
    font-weight: bold;
  }
  
  .trackDetails {
    font-size: 0.875rem; /* text-sm */
    color: #4B5563; /* Tailwind gray-600 */
  }
  
  .trackButton {
    font-size: 1.5rem; /* text-2xl */
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .trackButton.add {
    color: #16A34A; /* Tailwind green-600 */
  }
  
  .trackButton.remove {
    color: #DC2626; /* Tailwind red-600 */
  }