.trackContainer {

  background-color: rgba(180, 74, 229, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #ccc;
  }
  
  .trackInfo {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    flex: 4 4;
    border-top-left-radius: .79rem;
    border-bottom-left-radius: .79rem;
  }

  .trackInfoLower {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}
  
  .trackName {
    font-weight: bold;
  }
  
  .trackDetails {
    font-size: 1.05rem; /* text-sm */
    color: #e72ec8; /* Tailwind gray-600 */
    font-weight: bold;

  }
    
  .trackButtonAdd {
  border:none;
  border-radius: 30%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
    width: 52px;
    height: 32px;
    font-size: 2rem;
    align-content: center;
    background-color: #e72ec8a3;
    color: #0fdcee; /* Tailwind green-600 */
  }
  
  .trackButtonRemove {
    border: none;
      border-radius: 30%;
  cursor: pointer;
    display: flex;
  justify-content: center;
  align-items: center;
    width: 52px;
    height: 32px;
    font-size: 2rem;
    align-content: center;
    background-color: #e72ec8a3;
    color: #26dcd9; /* Tailwind red-600 */
  }